.DS_Store
*.log
*.log.*
*.pyc
*.bak
jenkins.war
jenkins-master/jobs/*/builds/
jenkins-master/jobs/*/lastStable
jenkins-master/jobs/*/lastSuccessful
jenkins-master/jobs/*/nextBuildNumber
jenkins-master/plugins/*/
jenkins-master/war

