kombu==3.0.26
mercurial==2.6.2
mozdownload==1.18
python-jenkins==0.4.8
requests==2.7.0
taskcluster==0.0.24

# https://github.com/mozilla/mozmill-ci/issues/628
# As long as Python 2.7.10 cannot be used on our master machines
ndg-httpsclient
pyasn1
pyopenssl
