kombu==3.0.30
Jinja2==2.8
mozdownload==1.20.2
mozprocess==0.22
python-jenkins==0.4.8
redo==1.5
requests[security]==2.9.1
taskcluster==0.3.4
treeherder-client==2.1.0
PyYAML==3.11

# https://github.com/mozilla/mozmill-ci/issues/628 (and 831)
# As long as Python 2.7.10 cannot be used on our master machines
cffi==1.9.1
cryptography==1.5.2
enum34==1.1.6
idna==2.1
ipaddress==1.0.17
ndg-httpsclient==0.4.2
pyasn1==0.1.9
pycparser==2.17
pyopenssl==16.2.0

# Required by thclient and taskcluster
mohawk==0.3.2.1

# Required by thclient
requests-hawk==1.0.0
six==1.10.0
