<?xml version='1.0' encoding='UTF-8'?>
<matrix-project>
  <actions/>
  <description>Download the version of the Mozmill Environment as specified with the global $MOZMILL_VERSION variable.</description>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers class="vector"/>
  <concurrentBuild>false</concurrentBuild>
  <axes>
    <hudson.matrix.TextAxis>
      <name>PLATFORM</name>
      <values>
        <string>linux</string>
        <string>mac</string>
        <string>windows</string>
      </values>
    </hudson.matrix.TextAxis>
  </axes>
  <builders>
    <hudson.tasks.Shell>
      <command>curl -O http://people.mozilla.com/~hskupin/downloads/mozmill-env/$MOZMILL_VERSION-$PLATFORM.zip</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers>
    <hudson.tasks.ArtifactArchiver>
      <artifacts>$MOZMILL_VERSION-*.zip</artifacts>
      <latestOnly>false</latestOnly>
    </hudson.tasks.ArtifactArchiver>
  </publishers>
  <buildWrappers/>
  <runSequentially>false</runSequentially>
</matrix-project>