<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description>Download the version of the Mozmill environment as specified with the global $MOZMILL_VERSION variable.</description>
  <logRotator>
    <daysToKeep>-1</daysToKeep>
    <numToKeep>5</numToKeep>
    <artifactDaysToKeep>-1</artifactDaysToKeep>
    <artifactNumToKeep>-1</artifactNumToKeep>
  </logRotator>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.queueSorter.PrioritySorterJobProperty>
      <priority>1099</priority>
    </hudson.queueSorter.PrioritySorterJobProperty>
  </properties>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers class="vector"/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.plugins.copyartifact.CopyArtifact>
      <projectName>tools</projectName>
      <filter></filter>
      <target></target>
      <selector class="hudson.plugins.copyartifact.WorkspaceSelector"/>
    </hudson.plugins.copyartifact.CopyArtifact>
    <hudson.tasks.Shell>
      <command>for PLATFORM in linux mac windows;
  do echo Downloading environment for $PLATFORM;
  curl -O https://mozqa.com/mozmill-env/$MOZMILL_VERSION-$PLATFORM.zip
  unzip $MOZMILL_VERSION-$PLATFORM.zip -d $PLATFORM
  done</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers>
    <hudson.plugins.cloneworkspace.CloneWorkspacePublisher>
      <workspaceGlob></workspaceGlob>
      <workspaceExcludeGlob>README, *.exe, *.zip</workspaceExcludeGlob>
      <criteria>Successful</criteria>
      <archiveMethod>TAR</archiveMethod>
    </hudson.plugins.cloneworkspace.CloneWorkspacePublisher>
  </publishers>
  <buildWrappers>
    <hudson.plugins.ws__cleanup.PreBuildCleanup>
      <deleteDirs>false</deleteDirs>
    </hudson.plugins.ws__cleanup.PreBuildCleanup>
  </buildWrappers>
</project>