<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description>Clone the Mozmill tests repository.</description>
  <logRotator class="hudson.tasks.LogRotator">
    <daysToKeep>-1</daysToKeep>
    <numToKeep>200</numToKeep>
    <artifactDaysToKeep>-1</artifactDaysToKeep>
    <artifactNumToKeep>-1</artifactNumToKeep>
  </logRotator>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.queueSorter.PrioritySorterJobProperty plugin="PrioritySorter@1.3">
      <priority>1099</priority>
    </hudson.queueSorter.PrioritySorterJobProperty>
  </properties>
  <scm class="hudson.plugins.mercurial.MercurialSCM" plugin="mercurial@1.46">
    <installation>(Default)</installation>
    <source>http://hg.mozilla.org/qa/mozmill-tests</source>
    <modules></modules>
    <subdir>mozmill-tests</subdir>
    <clean>false</clean>
    <browser class="hudson.plugins.mercurial.browser.HgWeb">
      <url>http://hg.mozilla.org/qa/mozmill-tests/</url>
    </browser>
  </scm>
  <assignedNode>master</assignedNode>
  <canRoam>false</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers>
    <hudson.triggers.TimerTrigger>
      <spec>*/5 * * * *</spec>
    </hudson.triggers.TimerTrigger>
  </triggers>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.plugins.xshell.XShellBuilder plugin="xshell@0.9">
      <commandLine>${JENKINS_HOME}/../jenkins-env/bin/hg pull -u -R ${WORKSPACE}/mozmill-tests</commandLine>
      <executeFromWorkingDir>false</executeFromWorkingDir>
      <regexToKill></regexToKill>
      <timeAllocated></timeAllocated>
    </hudson.plugins.xshell.XShellBuilder>
    <hudson.plugins.xshell.XShellBuilder plugin="xshell@0.9">
      <commandLine>${JENKINS_HOME}/../jenkins-env/bin/hg branches -R ${WORKSPACE}/mozmill-tests</commandLine>
      <executeFromWorkingDir>false</executeFromWorkingDir>
      <regexToKill></regexToKill>
      <timeAllocated></timeAllocated>
    </hudson.plugins.xshell.XShellBuilder>
  </builders>
  <publishers>
    <hudson.plugins.cloneworkspace.CloneWorkspacePublisher plugin="clone-workspace-scm@0.5">
      <workspaceGlob></workspaceGlob>
      <criteria>Successful</criteria>
      <archiveMethod>TAR</archiveMethod>
      <overrideDefaultExcludes>true</overrideDefaultExcludes>
    </hudson.plugins.cloneworkspace.CloneWorkspacePublisher>
  </publishers>
  <buildWrappers>
    <hudson.plugins.timestamper.TimestamperBuildWrapper plugin="timestamper@1.5.7"/>
  </buildWrappers>
</project>