.DS_Store
*.key
*.log
*.log.*
*.pyc
*.tmp
*.bak
builds/
lastStable
lastSuccessful
nextBuildNumber
.owner
fingerprints
hudson.maven.*
hudson.scm.CVSSCM.xml
hudson.scm.SubversionSCM.xml
hudson.tasks.Ant.xml
hudson.tasks.Maven.xml
hudson.tasks.Shell.xml
hudson.triggers.SCMTrigger.xml
jenkins.mvn.GlobalMavenConfig.xml
jobs/*/workspace/
!jobs/tools/workspace
logs
nodeMonitors.xml
plugins/*/
plugins/ant.jpi
plugins/cvs.jpi
plugins/credentials.jpi
plugins/external-monitor-job.jpi
plugins/javadoc.jpi
plugins/ldap.jpi
plugins/mailer.jpi
plugins/maven-plugin.jpi
plugins/pam-auth.jpi
plugins/ssh-credentials.jpi
plugins/ssh-slaves.jpi
plugins/subversion.jpi
plugins/translation.jpi
queue.xml
secret*
updates
userContent
war/
